$color-blue-dark:#493EC1;
$color-blue-primary: #5C51E1;
$color-blue-light: #7469F2;
$color-background-white:#EFEEFC;
$color-heading-white:#F6F5FE;
$color-text:#3D3B52;
$color-green-primary:#59CD96;
$color-red-primary:#E3556F;