@import '../../../commonStyle/typography.scss';
.MTS{
    &-page-container{
        background-color: #F6F5FE;
        padding: 16px;
        @media only screen and (max-width:576px){
            padding: 8px;
        }
    }
    &-page-body-container{
        max-width: 1140px;
        margin: auto;
        margin-bottom: 100px;
    }
    &-filter-container{
        min-height: 77px;
    }
    &-survey-category-row{
        display: flex;
        flex-wrap: wrap;
    }
    &-survey
    {
        &-heading{
            margin: 16px 0;
        }
    }
    &-survey-card{
        max-width: 370px;
        margin-right: 30px;
        // margin-left: 15px;
        position: relative;
        width: 30%;
        min-width: 150px;
        border-radius: 16px;
        background-color: #FAFAFF;
        overflow: hidden;
        margin-bottom: 20px;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        @media only screen and (max-width:576px){
            margin-left: 7px;
            margin-right: 7px;
            width: 45%;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
        }
        &-active{
        box-shadow: -2px 20px 10px 0px rgba(61,59,82,0.05);
         &:hover{
            box-shadow: -2px 20px 10px 0px rgba(61,59,82,0.15);
         }
        }
        &-header{
            height: 230px;
            width: 100%;
            background-color: $color-blue-dark;
            border-radius: 16px;
        }
        &-img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 16px;
        }
        &-body{
            padding: 20px;
            border-radius: 0 0 16px 16px;
            transform: translateY(16px);
            background-color: #FAFAFF;
        }
        &-heading{
            margin-bottom: 10px;
        }
        &-progress-bar-text{
            margin-top: 10px;
            color: rgba(#3D3B52,.6);
            font-size: 16px;
            & span{
                color: #3D3B52;
            }
        }
        &-from{
            text-align: center;
            height: 50px;
            border-top: 1px solid rgba(#3D3B52,.05);
            margin-top: 16px;
            padding-top: 16px;
        }
        &-footer{
            color: #F6F5FE;
            text-align: center;
            height: 74px;
            background-color: $color-blue-primary;
            display: flex;
            align-items: center;
            justify-content: center;
            &-inactive{
                background-color: rgba($color-blue-primary,.1);
                color:rgba($color-blue-primary,.5);
            }
            & div{
                margin-top: 16px;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}
